{% extends "main.html" %}
{% block content %}
{% include "flash_alert.html" %}
{% include "category_panel.html" %}
<div class="col-md-9">
	<div class="row">
		<div class="col-md-12">
			<h2>Latest Items
				<div class="pull-right">
					<a href = "{{ url_for('newCatalogItem') }}">
						<button class="btn btn-success primary">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
								Add Item
						</button>
					</a>
				</div>
			</h2>
		</div>
	</div>
	{% include "catalog_list.html" %}
</div>
{% endblock %}}