<div class="row">
	{% if items and quantity > 0 %}
	    {% for i in items %}
	    <div class="col-md-12 card list-card">
	    <!-- <img class="img-thumbnail pull-left" src="http://placehold.it/150" alt="image placeholder" /> -->
        	<span class="name">
    			<a href="{{ url_for('showCatalogItem', category_id=i.category_id, catalog_item_id=i.id) }}" >
    				<h3>{{i.name}}<br><small>({{ i.category.name }})</small></h3>
    			</a>
        	</span>
	        {% if i.user_id == session.user_id %}
	        <div class="editdeletepane pull-right">
	            <a href="{{ url_for('editCatalogItem', category=i.category, catalog_item=i.name) }}">
	            	<button class="btn btn-default edit">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 
							Edit
					</button></a>
	            <a href="{{ url_for('deleteCatalogItem', category=i.category, catalog_item=i.name) }}">
	            	<button class="btn btn-danger delete">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
							Delete
					</button>
	            </a>
	        </div>
	        {% endif %}
	    </div>
	    {% endfor %}
	{% else %}
	<ul>
	    <li class="list-group-item">
	        You currently have no menu items.
	    </li>
	</ul>
	{% endif %}
</div>