<div class="col-md-3" style="height: 100%">
  <div class="row">
    <div class="col-md-12">
      <h2>
        <a href="{{ url_for('showCatalog') }}">Category</a>
        <div class="pull-right">
          <a href = "{{ url_for('newCategory') }}">
            <button class="btn btn-success primary">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
            </button>
          </a>
        </div>
      </h2>
    </div>
  </div>
  <ul class="list-group">
  	<li class="list-group-item"><a href="{{ url_for('showCatalog') }}">Latest Items</a></li>
    {% for c in categories %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-12">
            <a href="{{ url_for('showCategoryItems', category_id=c.id) }}">{{ c.name }}</a>
            {% if c.user_id == session.user_id %}
            <div class="pull-right">
              <a href="{{ url_for('editCategory', category_id=c.id, catalog_item_id=c.id) }}">
                <button class="btn btn-default edit">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 
                </button>
              </a>
              <a href="{{ url_for('deleteCategory', category_id=c.id, catalog_item_id=c.id) }}">
                <button class="btn btn-danger delete">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>