{% extends "main.html" %}
{% block content %}
<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit Catalog Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" name="name" value="{{ item.name }}">
					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description">{{ item.description }}
					</textarea>

					<label for="price">Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" class="form-control" maxlength="10" name="price" value="{{ item.price }}">
					</div>
					<label for="Category">Category:</label>
					<div class="row">
						<div class="col-md-6">
							<div class="radio">
							  <label>
							  	{% if item.category == 'Soccer' %}
							    	<input type="radio" name="category" id="category1" value="Soccer" checked >Soccer
							    {% else %}
							    	<input type="radio" name="category" id="category1" value="Soccer">Soccer
							    {% endif %}
							  </label>
							</div>
							<div class="radio">
							  <label>
		    				  	{% if item.category == 'Basketball' %}
							    	<input type="radio" name="category" id="category2" value="Basketball" checked >Basketball
							    {% else %}
							    	<input type="radio" name="category" id="category2" value="Basketball">Basketball
							    {% endif %}
							  </label>
							</div>
							<div class="radio">
							  <label>
							  	{% if item.category == 'Baseball' %}
							    	<input type="radio" name="category" id="category3" value="Baseball" checked >Baseball
							    {% else %}
							    	<input type="radio" name="category" id="category3" value="Baseball">Baseball
							    {% endif %}
							  </label>
							</div>
							<div class="radio">
							  <label>
							  	{% if item.category == 'Frisbee' %}
							    	<input type="radio" name="category" id="category4" value="Frisbee" checked >Frisbee
							    {% else %}
							    	<input type="radio" name="category" id="category4" value="Frisbee">Frisbee
							    {% endif %}
							  </label>
							</div>
							<div class="radio">
								<label>
							  	{% if item.category == 'Snowboarding' %}
							    	<input type="radio" name="category" id="category5" value="Snowboarding" checked >Snowboarding
							    {% else %}
							    	<input type="radio" name="category" id="category5" value="Snowboarding">Snowboarding
							    {% endif %}
							  </label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="radio">
								<label>
							  	{% if item.category == 'Rock Climbing' %}
							    	<input type="radio" name="category" id="category6" value="Rock Climbing" checked >Rock Climbing
							    {% else %}
							    	<input type="radio" name="category" id="category6" value="Rock Climbing">Rock Climbing
							    {% endif %}
							  </label>
							</div>
							<div class="radio">
								<label>
							  	{% if item.category == 'Foosball' %}
							    	<input type="radio" name="category" id="category7" value="Foosball" checked >Foosball
							    {% else %}
							    	<input type="radio" name="category" id="category7" value="Foosball">Foosball
							    {% endif %}
							  </label>
							</div>
							<div class="radio">
								<label>
							  	{% if item.category == 'Skating' %}
							    	<input type="radio" name="category" id="category8" value="Skating" checked >Skating
							    {% else %}
							    	<input type="radio" name="category" id="category8" value="Skating">Skating
							    {% endif %}
							  	</label>
							</div>
							<div class="radio">
								<label>
							  	{% if item.category == 'Hockey' %}
							    	<input type="radio" name="category" id="category9" value="Hockey" checked >Hockey
							    {% else %}
							    	<input type="radio" name="category" id="category9" value="Hockey">Hockey
							    {% endif %}
							  </label>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Update</button>
					<button class="btn btn-default delete">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
						<a href = "{{ url_for('showCatalog') }}">
							Cancel
						</a>
					</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}