<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('showCatalog') }}">Catalog App</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        {%if 'username' not in session %}
          <li><a href="{{url_for('showLogin')}}">Click Here to Login </a></li>
        {% else %}
          <li><a href="{{url_for('disconnect')}}">Logout </a></li>
        {% endif %} 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>